* {
    margin: 0.15rem;
    padding: 0;
}
.titulo {
    text-align: center;
    font-family: unset;
    color: #A020F0
    
} 
.subtitulo{
    text-align: center;
    font-family: unset;
    color: #A020F0;
}

.corpo{
    
    color: #A020F0;
    padding: 0.18%
}
.grupo {
    border-radius: 4px;
    color: #A020F0;
    padding: 0.18%
}
.caixa{
    color: #A020F0;
    
}

.botao{
    font-weight: bold;
    background-color:#da70d6;
    border-radius: 4px;
    transition: transform 200ms, box-shadow 200ms;
    box-shadow: #A020F0 4px 4px 0px;

}
.botao:active {
    transform: translateY(4px) translateX(4px);
    box-shadow: #A020F0 0px 0px 0px;
}
